# Database
# DATABASE_URL="mongodb+srv://nitishEcom:bCLfa2iQZLxuKu4t@ecommerce.rijjvwk.mongodb.net/fishStudioDEV?authSource=admin"
# DATABASE_URL="mongodb://admin:mysecretpassword@localhost:27017/FishStudio?replicaSet=rs0&authSource=admin"
# DATABASE_URL="mongodb://admin:mysecretpassword@localhost:27017/FishStudio?authSource=admin&replicaSet=rs0&directConnection=true"
DATABASE_URL="mongodb+srv://nitishEcom:bCLfa2iQZLxuKu4t@ecommerce.rijjvwk.mongodb.net/fishStudioDEV?authSource=admin"
# Server
PORT=8080

# JWT Secret (generate a secure random string for production)
JWT_SECRET="your-super-secret-jwt-key-change-this-in-production"

# REDIS_DATABASE_URI="redis://:mysecretpassword@localhost:6379/1"
REDIS_DATABASE_URI="rediss://default:AczVAAIncDJjZjk4OTVjMmYxM2Q0MTNlOWI4MjkxZGVkODUzNzYxZHAyNTI0Mzc@accurate-wombat-52437.upstash.io:6379"

# For You and me The same DO not change anything below
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SERVICE=gmail
SMTP_USER=vik6026717961@gmail.com
SMTP_PASS=sgvi urni eiez jyyg

ACCESS_TOKEN_JWT_SECRET_KEY=ilovekiyara
REFRESH_TOKEN_JWT_SECRET_KEY=ilovekiyarawithkiabdy

IMAGEKIT_PUBLIC_KEY=95u439u6
IMAGEKIT_PRIVATE_KEY=q3u49345
IMAGEKIT_URL_ENDPOINT=8453u93

RABBITMQ_PROTOCOL=amqp
RABBITMQ_HOST_NAME=127.0.0.1
RABBITMQ_USER_NAME=admin
RABBITMQ_PASSWORD=mysecretpassword
RABBITMQ_PORT=5672

# RABBITMQ_PROTOCOL=amqps
# RABBITMQ_HOST_NAME=fuji-01.lmq.cloudamqp.com
# RABBITMQ_USER_NAME=ynsuqswc
# RABBITMQ_PASSWORD=loOiJyy7Y0cWdBFyM5FFSn7-YVu_VEmc
# RABBITMQ_PORT=5671

# RABBITMQ_PROTOCOL=amqps
# RABBITMQ_HOST_NAME=fuji-01.lmq.cloudamqp.com
# RABBITMQ_USER_NAME=ynsuqswc
# RABBITMQ_PASSWORD=loOiJyy7Y0cWdBFyM5FFSn7-YVu_VEmc
# RABBITMQ_PORT=5671
# RABBITMQ_VHOST=ynsuqswc


STRIPE_SECRET_KEY=392ui345uiy45iy6t





FAST2SMS_API_KEY=zU2jZKmPweaY0C8T5hiBfSRqVFpWOxQtHGDv43A1rs6L9bEMNy9pIYxa6fe2toBiXvRW8mw5jGh7PVDU


# Node Environment
NODE_ENV=development
