NEXT_PUBLIC_API_URL=http://localhost:8080
NEXT_PUBLIC_CORS_URL=http://localhost:3001
NEXT_PUBLIC_SERVICE_PORT=3001
NEXT_PUBLIC_USER_UI_LINK=http://localhost:3000
NEXT_PUBLIC_WORKER_WS_URL=ws://localhost:8080
NEXT_PUBLIC_CHATTING_WEBSOCKET_URI=ws://localhost:8080
