API_GATEWAY_PORT=8080
AUTH_SERVICE_PORT=6001
PRODUCT_SERVICE_PORT=6003
AUTH_SERVICE_URL=http://localhost:6001
PRODUCT_SERVICE_URL=http://localhost:6003
CORS_ORIGINS=http://localhost:3000,http://localhost:3001,http://localhost:3002
